.menu {
    margin-left:2em;
}
.menuItem {
    height:20em;
    width:15em;
    border:1px solid black;
    position: absolute;
    transform: rotate(-360deg);
    transition: all .4s ease-out
}
.menuItem li{
    min-height: 2em;
}
.menuItem li:nth-of-type(odd){
    background: rgba(52, 52, 52, .65)
}
.menuItem li:nth-of-type(even){
    background: rgba(52, 52, 52, .2)
}
/*.sc-bxivhb:hover {
      transition: all .4s linear;
       background: #ccc
}*/
.sc-bxivhb{
    transition: all .4s ease-in-out;
}
.sc-bxivhb:hover{
    background:rgba(52, 52, 52, .2);
    border-radius: 50%
}

     /*style="display: inline-block; color: rgba(0, 0, 0, 0.87); fill: currentcolor; height: 30px; width: 30px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;"*/