.TodoItem{
    padding: .5em;
    display: flex;
    align-items: center;
}
.TodoItem>.title{
    flex-grow: 1;
    padding: 0.5em;
    color:#fff;
    text-shadow:  0 0 10px #000;
    font-size:20px;
    background:rgba(52, 52, 52, .1);
    border:none;
    /*transition: all 0.3 linear;*/
}
.TodoItem>.title:focus{
    outline: 1px solid #ccc;
}
.TodoItem input[type=checkbox] {
    min-height: 2em;
}
.iconDelete{
    cursor: pointer;
}
.iconDelete:hover{
    transition: all .2s  ease-out;
    transform: scale(1.2)
}