@media screen and (min-width:500px){
  .TodoWrapper{
    max-width: 32em;
  }
}

@media screen and (max-width:500px){
  .TodoWrapper{
    max-width: 90vw;
  }
}


/* 为了去除滚动条 */
.TodoWrapper{
  height: 90vh;
  overflow: hidden;
  margin: 0 auto;
}
.TodoWrapper-2 {
  box-sizing: content-box;
  text-align: center;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
}
.Todo{
  border:1px solid grey;
  padding: 0 1em;
}
.Todo > .todoList>li{
  position:relative;
}
.Todo > .todoList>li:nth-child(odd){
  background:rgba(52, 52, 52, .65);
}

.Todo > .todoList>li:nth-child(even){
  background:rgba(52, 52, 52, .25);
}
.exit{
  font-size: 0.5em;
}
.exit svg{
   margin:0 0 0 1em; 
  transform: rotate(180deg); 
  transition: all .6s ease-in-out;
  cursor: pointer;
}
.exit svg:hover{
  transform: rotate(180deg) scale(1.4);
}
.line {
  position: absolute;
  left:9%;
  top:50%;
  border-bottom: 2px solid rgba(52, 52, 52, .7);
  transform: translate(0,-50%);
  animation: line .3s ease-in forwards;
  z-index: 999;
}
@keyframes line{
  0%{min-width: 0%;}
  100%{min-width: 82%}
}
/*@keyframes lineNone{
  0%{min-width: 93%;}
  100%{min-width: 93%}
}*/

