.TodoItem{
    padding: .5em;
    display: flex;
    align-items: center;
}
 .TodoItem>.title{
    flex-grow: 1;
    padding: 0.5em;
    text-shadow:  0 0 10px #000;
    /* background:rgba(52, 52, 52, .1); */
    /* border:none; */
}
/* .TodoItem>.title:focus{
    outline: 1px solid #ccc;
}  */
.TodoItem input[type=checkbox] {
    min-height: 1em;
    min-width: 1em;
}
.iconDelete{
    cursor: pointer;
}
.TodoItem span:hover{
    transition: all .3s linear;
    transform: scale(1.2)
}

